{%extends "prueba.html" %}

{%block title%}Pagina Principal{% endblock %}

{%block content%}
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <ul>
                {%for cli in cliente%}
                <li>
                    {{cli.nombre}}
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="row"> 
        <div class="col-6">
            <form action="/addclientes/" method="post"> {% csrf_token %}
                <div class="form-group">
                    <label for="inputAddress">Nombre</label>
                    <input type="text" class="form-control" name="inputnombre" id="inputnombre" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Apellido</label>
                    <input type="text" class="form-control" name="inputapellido" id="inputapellido" placeholder="Ingrese su Apellido">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCity">Edad</label>
                        <input type="number" min="18" class="form-control" name="inputedad" id="inputedad">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputZip">Direccion</label>
                        <input type="text" class="form-control" name="inputdir" id="inputdir" placeholder="Escriba su direccion">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Cliente</button>
            </form>
        </div>
        <div class="col-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for cli in cliente%}
                    <tr>
                        <td>{{cli.nombre}}</td>
                        <td>{{cli.apellido}}</td>
                        <td>{{cli.edad}}</td>
                        <td>{{cli.direccion}}</td>
                        <td><a href="/editcliente/{{cli.id}}" class="btn btn-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                            </svg>
                        </a>
                        </td>
                        <td><a href= "/delcliente/{{cli.id}}" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock %}
