{%extends "prueba.html" %}

{%block title%}Pagina Principal{% endblock %}

{%block content%}
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <ul>
                {%for cli in cliente%}
                <li>
                    {{cli.nombre}}
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="row"> 
        <div class="col-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Direccion</th>
                    </tr>
                </thead>
                <tbody>
                    {%for cli in cliente%}
                    <tr>
                        <td>{{cli.nombre}}</td>
                        <td>{{cli.apellido}}</td>
                        <td>{{cli.edad}}</td>
                        <td>{{cli.direccion}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>

</div>



{% endblock %}