{%extends "prueba.html" %}

{%block title%}Pagina Principal{% endblock %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="offset-3 col-6">
            <form action="/guardarcliente/{{clientes.id}}" method="post"> {% csrf_token %}
                <div class="form-group">
                    <label for="inputAddress">Nombre</label>
                    <input type="text" class="form-control" name="inputnombre" value="{{clientes.nombre}}" id="inputnombre" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Apellido</label>
                    <input type="text" class="form-control" name="inputapellido" id="inputapellido"
                        placeholder="Ingrese su Apellido" value="{{clientes.apellido}}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCity">Edad</label>
                        <input type="number" min="18" class="form-control" name="inputedad" id="inputedad" value="{{clientes.edad}}">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputZip">Direccion</label>
                        <input type="text" class="form-control" name="inputdir" id="inputdir" placeholder="Escriba su direccion" value="{{clientes.direccion}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar Cliente</button>
                <a href="/clientes/" class="btn btn-danger">Regresar</a>
            </form>

        </div>

    </div>

</div>
    

{% endblock %}