{% extends "base.html"%}

{% block title %}Clientes{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="off-set 6 col-6">
            <ul>
                {%for c in clientes%}
                <li>
                    {{c.nombre}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="/agregarcliente/" method="post">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputcodigo">Codigo</label>
                        <input type="text" class="form-control" name="inputcodigo" id="inputcodigo" placeholder="Digite el código">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inpunombre">Nombre</label>
                        <input type="text" class="form-control" name="inputnombre" id="inputnombre" placeholder="Digite el nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputapellido">Apellido</label>
                    <input type="text" class="form-control" name="inputapellido" id="inputapellido" placeholder="Digite el apellido">
                </div>
                <div class="form-group">
                    <label for="inputtelefono">Telefono</label>
                    <input type="text" class="form-control" name="inputtelefono" id="inputtelefono" placeholder="Numero de telefono">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputCity">Direccion</label>
                        <input type="text" class="form-control" name="inputdir" id="inputdir" placeholder="Ingrese la Direccion">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Cliente</button>
            </form>

        </div>
        <div class="col-6">
            <h2>Registros de Clientes</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for c in clientes%}
                    <tr>
                            <td>{{c.codigo}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.apellido}}</td>
                            <td>{{c.telefono}}</td>
                            <td>{{c.direccion}}</td>
                            <td><a class="btn btn-warning" href="/editclientes/{{c.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a></td>
                            <td><a class="btn btn-danger" href="/delclientes/{{c.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                </svg>
                            </a></td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
            
        </div>

    </div>

</div>
{% endblock %}




