{% extends "base.html"%}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="offset-3 col-6 bg-primary">
            <h1>Formulario de Registro</h1>
        </div>
        <form method="post" action="/registro/"> {%csrf_token%}
            {{form.username}}
            {{form.first_name}}
            {{form.last_name}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}


        <button type="submit">Registrarse</button>    
        </form>
    </div>
</div>
{% endblock %}